<div class="row">
  <div class="col-md-12">
    <h1 style="margin-left: 440px;">Resource Management</h1>
    <hr>
    <div class="col-xs-5 col-sm-4 pull-right">
      <label style="font-weight: 500;">
        <h1>Select the Resources</h1>
      </label>
      <select class="selectpicker" name="resourceOption" id="resourcesOption" [(ngModel)]="selectedResource">
        <option selected="selected" *ngFor="let resource of resources" [ngValue]="resource">
          {{ resource }}
        </option>
      </select>
      <br>
    </div>
    <div *ngIf="selectedResource=='Building'">
      <h1>{{selectedResource}}</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr jhisort="" ng-reflect-predicate="id" ng-reflect-ascending="true" ng-reflect-callback="function () { [native code] }">
              <th jhisortby="id" ng-reflect-jhi-sort-by="id">
                <span>Building ID</span>
              </th>
              <th jhisortby="build-name" ng-reflect-jhi-sort-by="build-name">
                <span>Building Name</span>
              </th>
              <th jhisortby="build-desc" ng-reflect-jhi-sort-by="build-desc">
                <span>Building Description</span>
              </th>
              <th jhisortby="build-modif" ng-reflect-jhi-sort-by="build-modif">
                <span></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let building of buildingsData">
              <td>
                <a ng-reflect-router-link="../resource-management,system" href="#/resource-management/system">{{building['buildingId']}}</a>
              </td>
              <td>{{building['buildingName']}}</td>
              <td>{{building['buildingDesc']}}</td>
              <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                  <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resource-manager/building/'+ building['buildingId'] + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="selectedResource=='Conference Room'">
      <h1>{{selectedResource}}</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr jhisort="" ng-reflect-predicate="id" ng-reflect-ascending="true" ng-reflect-callback="function () { [native code] }">
              <th jhisortby="building-name" ng-reflect-jhi-sort-by="building-name">
                <span>Building</span>
              </th>
              <th jhisortby="id" ng-reflect-jhi-sort-by="id">
                <span>Room ID</span>
              </th>
              <th jhisortby="conference-name" ng-reflect-jhi-sort-by="conference-name">
                  <span>Room Name</span>
                </th>
              <th jhisortby="conference-num" ng-reflect-jhi-sort-by="conference-num">
                  <span>Room Num</span>
              </th>
              <th jhisortby="conference-capacity" ng-reflect-jhi-sort-by="conference-capacity">
                <span>Capacity</span>
              </th>
            </tr>
          </thead>
          <tbody>
          	<ng-container *ngFor="let building of buildingsData">
	            <tr *ngFor="let conferenceRoom of building['conferenceRooms']">
	              <td>{{building['buildingName']}}</td>
	              <td>
	                <a ng-reflect-router-link="../resource-management,system" href="#/resource-management/system">{{conferenceRoom['conferenceRoomId']}}</a>
	              </td>
	              <td>{{conferenceRoom['roomName']}}</td>
	              <td>{{conferenceRoom['roomNum']}}</td>
	              <td>{{conferenceRoom['roomCapacity']}}</td>
	              <td class="text-right">
	                <div class="btn-group flex-btn-group-container">
	                  <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resource-manager/conferenceRoom/'+ conferenceRoom['conferenceRoomId'] + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                  	  </button>
	                </div>
	              </td>
            	</tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="selectedResource=='Equipment'">
      <h1>{{selectedResource}}</h1>
      <div class="table-responsive">
      	 <div align="right">
      		<button class="btn btn-success btn-sm" queryparamshandling="merge" replaceurl="true" type="submit" tabindex="0" ng-reflect-query-params-handling="merge"
                    ng-reflect-replace-url="true" 
					[routerLink]="['/', { outlets: { popup: 'resource-manager/equipment/create'} }]">
                    <span class="fa fa-plus"></span>
                    <span class="d-none d-md-inline">Create</span>
           </button>
         </div>
        <table class="table table-striped">
          <thead>
            <tr jhisort="" ng-reflect-predicate="id" ng-reflect-ascending="true" ng-reflect-callback="function () { [native code] }">
              <th jhisortby="id" ng-reflect-jhi-sort-by="id">
                <span>Equipment ID</span>
              </th>
              <th jhisortby="equipment-name" ng-reflect-jhi-sort-by="equipment-name">
                <span>Equipment Name</span>
              </th>
              <th jhisortby="equipment-capacity" ng-reflect-jhi-sort-by="equipment-capacity">
                <span>Equipment Description</span>
              </th>
              <th jhisortby="equipment-modif" ng-reflect-jhi-sort-by="equipment-modif">
                <span></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipment of equipmentsData">
              <td>
                <a ng-reflect-router-link="../resource-management,system" href="#/resource-management/system">{{equipment['equipmentId']}}</a>
              </td>
	          <td>{{equipment['equipmentName']}}</td>
	          <td>{{equipment['equipmentDesc']}}</td>
              <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                  <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resource-manager/equipment/'+ equipment['equipmentId'] + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="d-none d-md-inline">Edit</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>