<div class="row">

    <div class="col-md-1">
        <div (click)="goBack()">
            <i class="fa fa-arrow-left" style="font-size:34px;color:#428bca;padding-left: 120px;"></i>
        </div>
    </div>

    <div class="content col-md-11">

        <!--&lt;!&ndash;Modal Button&ndash;&gt;-->
        <!--<button [hidden]="true" id="modalOpener" class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>-->

        <!--&lt;!&ndash;Modal&ndash;&gt;-->
        <!--<ng-template #content let-c="close" let-d="dismiss">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title">Conference Time Conflict</h4>-->
                <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p>Please choose different times. &hellip;</p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>-->
            <!--</div>-->
        <!--</ng-template>-->



         <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-danger" *ngIf="registrationError">
             <strong> {{error}} </strong>
         </div>
         <br>
         <div class="col-lg-7" style="display: inline-flex;">
            <dl class="item-property" style="padding-left: 25px;">
                <dt style="font-weight: 500; ">
                    <span>Building</span>
                </dt>
                <dd><div class="bg"><span>{{ room_info.buildingName }}</span></div></dd>
            </dl>
            <dl class="item-property" style=" padding-left: 25px;">
                <dt style="font-weight: 500;">
                    <span>Conference Room</span>
                </dt>
                <dd><div class="bg"><span>{{ room_info.roomName }}</span></div></dd>
            </dl>
            <dl class="param param-feature" style="padding-left: 25px;">
                <dt style="font-weight: 500; ">Equipments Provided</dt>
                <dd>
                    <div class="bg">
                        <div class="chiller_cb" *ngFor="let equip of room_info.equipments">
                            <label>{{ equip.equipmentName }}</label> -
                            <span>{{ equip.equipmentDesc }}</span>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <br>
        <div class="breadcrumb breadcrumb-option">
            <div class="navigation">
                <div class="nav-variant-breadcrumb">
                    <h4 class="font-weight-bold text-center">Make a Reservation</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
                <div id="reservation-code">
                    <p></p>

                    <div class="reservation_steps">
                        <span style="display: inline-block;" class="reservation_step">
                            <div class="reservation_step_img">
                                <div *ngIf ="isReservationDetailForm">
                                    <div class="reservation_step_img_text" style="background-color: #428bca;">
                                        <strong>1</strong>
                                    </div>
                                    <div style="color: #428bca;" class="reservation_step_name">Reservation Details</div>
                                </div>
                                <div *ngIf ="!isReservationDetailForm">
                                    <div class="reservation_step_img_text">
                                        <strong>1</strong>
                                    </div>
                                    <div class="reservation_step_name">Reservation Details</div>
                                </div>

                            </div>
                        </span>
                        <span style="display: inline-block;" class="reservation_step">
                            <div class="reservation_step_img">
                                <div *ngIf ="isReservationTimeForm">
                                    <div class="reservation_step_img_text" style="background-color: #428bca;">
                                        <strong>2</strong>
                                    </div>
                                    <div style="color: #428bca;" class="reservation_step_name">Reservation Date</div>
                                </div>
                                <div *ngIf ="!isReservationTimeForm">
                                    <div class="reservation_step_img_text" >
                                        <strong>2</strong>
                                    </div>
                                    <div class="reservation_step_name">Reservation Date</div>
                                </div>
                            </div>
                        </span>
                        <span style="display:inline-block;" class="reservation_step">
                            <div class="reservation_step_img">
                                <div *ngIf ="isReservationCompleteForm">
                                     <div class="reservation_step_img_text" style="background-color: #428bca;">
                                        <strong>3</strong>
                                    </div>
                                    <div style="color: #428bca;" class="reservation_step_name">Reservation Completed</div>
                                </div>
                                <div *ngIf ="!isReservationCompleteForm">
                                    <div class="reservation_step_img_text">
                                        <strong>3</strong>
                                    </div>
                                    <div class="reservation_step_name">Reservation Completed</div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <br>
                    <br>
                    <div class="row col-md-12" style="margin-top: 15px;padding: 0;">
                        <div class="col-md-9">
                            <div *ngIf="isReservationDetailForm">
                                <h3>Reservation Details</h3>
                                <form [formGroup]="reservationDetailForm">
                                    <div class="personal_details">
                                        <div class="form-group planyo-form-item-group  col-md-8" id="row_first">
                                            <label for="firstName" class="control-label">First name<em>*</em></label>
                                            <input class="with-status-border form-control" maxlength="80" type="text" name="firstName" id="firstName" formControlName="firstName">
                                        </div>
                                        <div class="form-group planyo-form-item-group  col-md-8" id="row_last">
                                            <label for="lastName" class="control-label">Last name<em>*</em></label>
                                            <input class="with-status-border form-control" maxlength="80" type="text" name="lastName" id="lastName" formControlName="lastName">
                                        </div>
                                        <div class="form-group planyo-form-item-group  col-md-8" id="row_email">
                                            <label for="email" class="control-label">Email<em>*</em></label>
                                            <input type="email" class="with-status-border form-control" maxlength="80"  name="email" id="email" formControlName="email" [email]="true">
                                        </div>
                                        <div class="form-group planyo-form-item-group  col-md-8" id="row_conf_title">
                                            <label for="conferenceTitle" class="control-label">Conference Title<em>*</em></label>
                                            <input type="text" class="with-status-border form-control" maxlength="80" type="text" name="conferenceTitle" id="conferenceTitle" formControlName="conferenceTitle">
                                        </div>
                                        <div class="form-group planyo-form-item-group  col-md-8" id="row_conf_Desc">
                                            <label for="conferenceDescription" class="control-label">Conference Description<em>*</em></label>
                                            <textarea type="text" class="with-status-border form-control" maxlength="80" name="conferenceDescription" id="conferenceDescription" formControlName="conferenceDescription"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-button">
                                        <label for="submit_form_1">&nbsp;</label>
                                        <button [disabled]="!reservationDetailForm.valid" style="border-radius: 5px;" type="submit" class="btn btn-primary btn-sm" name="submit_form_1" id="submit_form_1"
                                                (click)="saveReservationDetails()">Continue</button>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="isReservationTimeForm">
                                <h3>Reservation Details</h3>
                                <br>
                                <form [formGroup]="reservationTimeForm">
                                    <div class="personal_details">
                                        <div class="form-group planyo-form-item-group  col-md-8" id="row_startdate">
                                            <label for="startDate" class="control-label">Date<em>*</em></label>
                                            <input type="date" class="with-status-border form-control" maxlength="80" name="startDate" id="startDate" formControlName="startDate">
                                        </div>
                                        <br>
                                        <label style="padding-left: 15px;"  class="control-label">Available Hours</label>
                                        <div class="timeAvailablityTable">
                                            <table cellspacing="1" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td valign="top">
                                                            <table>
                                                                <tbody>
                                                                    <tr style="height: 20px">
                                                                        <td> </td>
                                                                        <td> </td>
                                                                    </tr>
                                                                    <tr *ngFor="let time of [9,10,11,12,13,14,15,16,17]">
                                                                        <td style="height: 20px;">
                                                                            <div class="timeRows" style=" text-align: right">{{ time }}</div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td valign="top">
                                                            <div style="width: 300px; overflow: auto; overflow-y: hidden">
                                                                <table  style="width: 700px; max-width: 700px" cellspacing="1" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <div style="font-size: 12px; color: #4e4e4e;">
                                                                                    <div style="width: 60px; float:left; text-align: center">00</div>
                                                                                    <div style="width: 60px; float:left; text-align: center">15</div>
                                                                                    <div style="width: 60px; float:left; text-align: center">30</div>
                                                                                    <div style="width: 60px; float:left; text-align: center">45</div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9]" style="border-spacing: 1px; border-collapse: separate">
                                                                            <td>
                                                                                <div class="rmAvailable" ></div>
                                                                                <div class="rmAvailable" ></div>
                                                                                <div class="rmAvailable" ></div>
                                                                                <div class="rmAvailable" ></div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <div class="row" style="padding-left: 15px">
                                            <div class="form-group planyo-form-item-group col-md-4" id="row_startTime" >
                                                <label class="control-label">Start Time<em>*</em></label>
                                                <select name="startTime" id="startTime1" formControlName="startTimeHr">
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                </select> : <select name="startTime2" id="startTime2" formControlName="startTimeMin">
                                                <option value="00">00</option>
                                                <option value="15">15</option>
                                                <option value="30">30</option>
                                                <option value="45">45</option>
                                            </select>
                                            </div>
                                            <div class="form-group planyo-form-item-group col-md-4" id="row_endTime">
                                                <label for="endTime" class="control-label">End Time<em>*</em></label>
                                                <select name="endTime1" id="endTime" formControlName="endTimeHr">
                                                    <option value="9">9</option>
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                </select> : <select name="endTime2" id="endTime2" formControlName="endTimeMin">
                                                <option value="00">00</option>
                                                <option value="15">15</option>
                                                <option value="30">30</option>
                                                <option value="45">45</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="numberOfPeople">
                                        <label for="numberOfPeople">Number of People<em>*</em></label>
                                        <select [value]="numberOfpeopleSelect[0]" formControlName ="numberOfPeople">
                                            <option *ngFor="let numSelect of numberOfpeopleSelect" [value]="numSelect">{{numSelect}}</option>
                                        </select>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="form-button">
                                        <label for="submit_form_1">&nbsp;</label>
                                        <button [disabled]="!reservationTimeForm.valid" style="border-radius: 5px;" type="submit" class="btn btn-primary btn-sm" name="submit_form_!" id="submit_form_!"
                                                (click)="saveReservationTime()">Make Reservation</button>
                                    </div>
                                </form>
                            </div>
                           <div *ngIf = "isReservationCompleteForm">
                               <br>
                               <br>
                                <p style="font-weight: 100">Thank you, {{reservation_info['firstName']}} {{reservation_info['lastName']}}</p>
                                <p style="font-weight: 100">Successfully Reserved the Conference Room({{reservation_info['conferenceRoomId']}})</p>
                                <p style="font-weight: 100">From {{reservation_info['roomScheduleStartTime']}} - {{reservation_info['roomScheduleEndTime']}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                </div>
        </div>
    </div>


</div>

