
#conferenceRoomOption {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
// #driverLicExpCal {
//     width: 600px;
//     height: 500px;
//     font-size: 2em;
//  }
 .calendar {
    display: flex;
    // height: 40em;
  }
  element.style {
    color: brown;
    font-size: 1.3em;
}
.calendar-days {
    width: 50px;
    height: 50px;
    background: #669999;
    border: 3px solid #c2c2c2;
    float: left;
    text-align: center;
    padding-top: 11px;
}
#calendar-container {
    width: 350px;
}
.inactive,.isBeforeToday{
    opacity: 0.5;
    pointer-events:none;
}
.isWeekend{
    background: rebeccapurple;
    opacity: 0.5;
    pointer-events:none;
}
.today{
    color: red;
}
.selected {
    background: peru;
    opacity: 0.6;
}
.reserved {
    color: blueviolet;
}
