
<section class="py-3">

    <div class="row">
        <h2 class="landing-title">
            CONFERENCE ROOMS BUILDING {{ buildingInfo.buildingName | uppercase }}
        </h2>
    </div>
    <hr>

    <div class="row">
        <div class="col-xs-7 col-sm-8"></div>
        <div class="col-xs-5 col-sm-4">
            <label style="font-weight: 500;"> <strong>Select a Conference Room</strong>
            </label>
            <select class="selectpicker" name="conferenceRoomOption" id="conferenceRoomOption" [(ngModel)]="selectedRoom">
                <option selected="selected" *ngFor="let room_choice of buildingInfo.conferenceRooms" [ngValue]="room_choice">
                    {{ room_choice.roomName }}
                </option>
            </select>
        </div>

    </div>

    <br>
    <div class="row">

        <div class="col-lg-5 mb-4">

            <div class="">
                <div class="">
                    <img src="../../content/images/building1/conference-room1.jpg" class="img-fluid " alt="">
                </div>
            </div>

        </div>

        <div class="col-lg-7">
            <div class="form-header">
                <h3><p class="font-weight-300 text-center h1">Conference Room: {{ selectedRoom.roomName }}</p></h3>
                <hr>
            </div>
            <div class="row">

                <div class="col-lg-6">
    
                    <dl class="item-property">
                        <dt style="font-weight: 500;"><span style="background-color: #dce1e2"> LOCATION </span></dt>
                        <dd>
                            <p> {{ buildingInfo.buildingDesc }}</p>
                        </dd>
                    </dl>
        
                    <dl class="item-property">
                        <dt style="font-weight: 500;">CURRENTLY AVAILABLE</dt>
                        <dd>
                            <p>{{ selectedRoom.activeIndicator }}</p>
                        </dd>
                    </dl>
        
                    <dl class="param param-feature">
                        <dt style="font-weight: 500;">EQUIPMENTS PROVIDED</dt>
                        <dd>
                            <div class="bg">
                                <div class="chiller_cb" *ngFor="let equip of selectedRoom.equipments">
                                    <label >{{ equip.equipmentName }}</label> -  <span>{{ equip.equipmentDesc }}</span>
                                </div>
                            </div>
                        </dd>
                    </dl>
        
                    <dl class="item-property">
                        <dt style="font-weight: 500;">CAPACITY</dt>
                        <dd><p>{{ selectedRoom.roomCapacity }} </p></dd>
                    </dl>
        
                    <!-- <dl class="item-property">
                        <dt style="font-weight: 500;">RESERVATION</dt>
                        <dd>
                            <a routerLink="/reservation/{{ selectedRoom.conferenceRoomId }}">
                                <input style="border-radius: 5px;" class="btn btn-primary btn-sm" type="submit" name="reserve" id="reserve" value="Schedule a Room">
                            </a>
                        </dd>
                    </dl> -->
                </div>
                <div class="col-lg-6">
                    <dir class="flex-container flex-center">
                        <div id='calendar-container' class='flex-container flex-column'>
                            <!-- <div>
                            <form [formGroup]='dateForm' class='flex-container flex-center'>
                                <input type="text" name='dateFrom' formControlName='dateFrom' placeholder='From Date'>
                                <div class="width-5"></div>
                                <input type="text" placeholder='To Date' name='dateTo' formControlName='dateTo'>
                                <div class="width-5"></div>
                                <button class='primary' (click)='reserve()'>Reserve</button>
                            </form>
                            </div>
                            <div *ngIf='isReserved' class='reserved'>
                                {{isReserved}}
                            </div> -->
                            <div class="height-20px"></div>
                            <div class=' flex-container flex-center-horz '>
                                <span class='fa fa-chevron-left ' (click)='previousMonth() '></span>
                                &nbsp;
                                <span>{{date.format('MMMM ')}} {{date.format('YYYY ')}}</span>
                                &nbsp;
                                <span class='fa fa-chevron-right ' (click)='nextMonth() '></span>
                            </div>
                            <br>
                            <div class='flex-container'>
                                <div class='calendar-days flex-container flex-center '>S</div>
                                <div class='calendar-days flex-container flex-center '>M</div>
                                <div class='calendar-days flex-container flex-center '>T</div>
                                <div class='calendar-days flex-container flex-center '>W</div>
                                <div class='calendar-days flex-container flex-center '>T</div>
                                <div class='calendar-days flex-container flex-center '>F</div>
                                <div class='calendar-days flex-container flex-center '>S</div>
                            </div>
                            <div class='flex-container flex-wrap '>
                                <div *ngFor="let day of daysArr">
                                    <div routerLink="/reservation/{{ selectedRoom.conferenceRoomId }}" class='calendar-days flex-container flex-center' (click)='selectedDate(day)' [ngClass]="{'inactive ': !day, 'isBeforeToday': isbeforeToday(day),'isWeekend': isweekend(day),'selected': isSelected(day), 'today': todayCheck(day)}">{{day?.date()}}</div>
                                </div>
                            </div>
                        </div>
                    </dir>
                </div>
            </div>

        </div>

    </div>

</section>
